{% extends 'base.html' %}
{% load static %}

{% block title %}
    Cases
{% endblock title %}

{% block extra_css %}
{% endblock extra_css %}

{% block content %}
    <h1>Cases</h1>
    <div class="table-responsive">
        <table id="dtBasicExample" class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Patient</th>
                    <th scope="col">Receptionist</th>
                    <th scope="col">Filed Case Date</th>
                    <th scope="col">Closed Case Date</th>
                    <th scope="col">Case Status</th>
                    <th scope="col">Case Detail</th>
                </tr>
            </thead>
            <tbody>
                {% for case in cases %}
                    <tr>
                        <th scope="row">{{forloop.counter}}</th>
                        <td>{{ case.patient }}</td>
                        <td>{{ case.receptionist }}</td>
                        <td>{{ case.filed_date}}</td>
                        <td>{{ case.closed_date }}</td>
                        <td>
                            <strong 
                                {% if case.status == 'open' %} style=" color: green;" 
                                {% else %} style="color: red;"
                                {% endif %}>{{ case.status|upper }}
                            </strong>
                        </td>
                        <td><a href="{{case.get_absolute_url}}">Detail</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}
    

{% block domready %}
{% endblock domready %}
