{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
    {% if object %}
        Edit case "{{ object.title }}"
    {% else %}
        Create a new case
    {% endif %}
{% endblock %}

{% block content %}
    <h1>
        {% if object %}
            Edit case "{{ object.title }}"
        {% else %}
            Create a new case
        {% endif %}
    </h1>
    <div class="module">
        <h3>Case Info</h3>
        <form method="post">
            {{ form|crispy }}
            {% csrf_token %}
            <p><input type="submit" value="Save case" class="btn btn-success"></p>
        </form>
    </div>
{% endblock %}